@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    background-color: black;
}

.background {
    position: relative;
    background: #00fdff url(1748.jpg);
    height: 100vh;
    background-size: cover;
    background-position: repeat-x;
    animation: animatecity 20s linear infinite;
}

#ship {
    position: absolute;
    top: 110px;
    left: 10px;
    z-index: 3;
}

#space-ship {
    animation: ship 1s ease-in-out infinite alternate;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes ship {
    from{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(3deg);
    }
}

#space-light {
    animation: light 3s infinite ease-in alternate;
    transform-origin: top;
    transform-box: fill-box;
}

@keyframes light {
    from{
        transform: rotateZ(-10deg);
    }
    to{
        transform: rotateZ(10deg);
    }
}




@keyframes animatecity {
    from{
        background-position: 0 0;
    }
    to {
        background-position: 100% 0;
    }
}

#bike {
    position: absolute;
    bottom: 10px;
    right: 650px; 
}




#right-wheel, #left-wheel {
    animation: wheel 3s infinite linear;
    transform-origin: center;
    transform-box: fill-box;
}

#man {
    animation: man 1s ease-in infinite alternate;
    transform-origin: bottom;
}

#hat {
    animation: hat 1s ease-in-out infinite alternate;
    transform-origin: bottom;
    transform-box: fill-box;
}

@keyframes wheel {
    from{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(360deg);
    }
}

@keyframes man {
    from{
        transform: rotateX(0deg);
    }
    to{
        transform: rotateX(15deg);
    }
}

@keyframes hat {
    from{
        transform: translateY(0%) rotateZ(0deg);
    }
    to{
        transform: translateY(20%) rotateZ(4deg);
    }
}






#dark-mode {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
    flex-direction: column;

}

.button {
    left: -100px;
    width: 300px;
    display: inline-block;
    padding: 25px 25px;
    margin: 60px 20px;
    border-radius: 8px;
    background-color: rgba(103, 158, 40, 0.438);
    color: #03e9f4;
    font-size: 35px;
    text-decoration: none;
    overflow: hidden;
    transition: 1s;
    letter-spacing: 2px;
}

.button:nth-child(1) {
    filter: hue-rotate(170deg);
}

.button:nth-child(2) {
    filter: hue-rotate(800deg);
}

.button:hover {
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4;
    box-shadow: 0 0 25px #03e9f4;
    box-shadow: 0 0 50px #03e9f4;
    box-shadow: 0 0 200px #03e9f4;
}





.container {
  position: absolute;
  background-color: #ce58eba4;
  padding: 1rem;
  top: 1.5rem;
  right: 7rem;
  border-radius: .5rem;
  width: 700px;
  max-width: 70%;
  z-index: 30;
}

#time {
  font-size: 2.5rem;
  color: #fffffff1;
  font-weight: bold;
}

#scorer {
    font-size: 1.5rem;
    color: rgb(10, 45, 143);
}

p {
    color: white;
}

.quote-display {
  font-size: 2.5rem;
  color: white;
  font-weight: boldest;
  margin-bottom: 1rem;
  margin-left: calc(1rem + 2px);
  margin-right: calc(1rem + 2px);
  max-height: 50%;
  /* overflow: hidden; */
}

.quote-input {
  background-color: transparent;
  border: 4px solid #b5b2c5;
  outline: none;
  width: 60%;
  height: 5.5rem;
  margin: auto;
  resize: none;
  padding: .5rem 1rem;
  font-size: 2.5rem;
  font-weight: bolder;
  color: white;
  border-radius: .5rem;
  text-align: center;
  /* display: none; */
}

.quote-input:focus {
  border-color: rgb(116, 10, 236);
}

.correct {
  color: green;
}

.incorrect {
  color: red;
  text-decoration: underline;
}

#navbar {
    position: absolute;

}

.icons div{
    display: inline-block;
    padding-left: 13px;
    padding-top: 10px;
    padding-right: 20px;
}

.mu-icon {
    font-size: 35px;
    color: white;
}

.created {
    position: relative;
    top: 210px;
    z-index: 1;
}

.boi {
    position: relative;
    top: 13px;
    color: rgb(237, 180, 252);
    font-size: 1.2rem;
}
.name {
    font-family: 'Shadows Into Light', cursive;
    font-size: 2.5rem;
    color: white;
}